---

import Layout from "../../layouts/Layout.astro";

---

<Layout title="Triple">
  <section > 


    <!--room amenities -->

    <div class="container mx-auto">
      <div class="m-3">
        <h4 class="amenidades  text-2xl font-bold">
          Amenidades de la habitación
        </h4>
        <!--iconos -->
        <div class="m-5 gap-3 gap-y-10 grid xl:grid-cols-4 md:grid-cols-3 grid-cols-2">

          <div  class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/huesped-icon.png" class="size-12"/>
            <p class="my-auto  p-2 text-lg font-semibold">3 huespedes</p>
          </div>
          <div  class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/cama.png" class="size-12"/>
            <p class="my-auto p-2 text-lg font-semibold">3 Camas 1.5 plz</p>
          </div>
          <div  class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/escritorio-icon.png" class="size-12"/>
            <p class="my-auto p-2 text-lg font-semibold">Mesa de trabajo</p>
          </div>
          <div class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/tv-icon.png"/>
            <p class="my-auto p-2 text-lg font-semibold">Televisión por cable</p>
          </div>
          <div class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/toallas-icon.png"/>
            <p class="my-auto p-2 text-lg font-semibold">Toallas</p>
          </div>
          <div class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/ducha-icon.png"/>
            <p class="my-auto p-2 text-lg font-semibold">Ducha</p>
          </div>
          <div class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/wifi.png"  class="size-12"/>
            <p class="my-auto p-2 text-lg font-semibold">Wifi</p>
          </div>
          <div class="mx-auto flex gap-3 ">
            <img src="/iconos-cuartos/jabon-icon.png"  class="size-12"/>
            <p class="my-auto p-2 text-lg font-semibold">Jabon de baño</p>
          </div>
        </div>
      </div>
    </div>
      
  </section>
</Layout>

<style>
 
   /* amenidades */

   .amenidades {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   }

</style>
