---

---

<!--FUENTES --><!--Dancing -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
  rel="stylesheet"
/>

<!--Josefin -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
  rel="stylesheet"
/>

<!--Incio de pagina -->

<section class="w-full border-4">
  <div
    class=" mx-10 grid space-x-10 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 items-center">
    <div class="my-auto ">
      <div class="pt-5">
        <h1 class="titulo text-center text-4xl font-josefin">
          LA QUERENCIA HOTEL
        </h1>
      </div>
      <div class="pt-3">
        <h3 class="font-josefin text-xl font-bold text-justify">
          Nos encontramos en el Boulevard de Asia, a 1 hora de Lima y te estamos
          esperando con los brazos abiertos en el corazón de la costa peruana.
        </h3><br />
        <h3 class="font-josefin text-xl text-justify">
          Nuestro hotel, esta ubicado en el Km. 95 de la Panamericana Sur, te
          brinda fácil acceso a una de las playas más hermosas de la zona.
        </h3><br />
        <h3 class="font-josefin text-xl text-justify">
          Relájate en nuestras piscinas, saborea los deliciosos platos de nuestro
          restaurante o simplemente déjate llevar por el ritmo de la vida
          playera.
        </h3><br />

        <h3 class="font-josefin text-xl font-bold">¡La aventura te espera!</h3>

        <div class="mx-8 items-center grid grid-cols-2">
          <!--Acceso playa -->
          <div class="flex">
            <div class="w-8 m-3">
              <img src="/playa.png" class="" />
            </div>
            <h4 class="my-auto font-bold">Acceso a la Playa</h4>
          </div>
          <!--Lugar seguro -->
          <div class="flex">
            <div class="w-8 m-3">
              <img src="/shield.png" class="" />
            </div>
            <h4 class="my-auto font-bold">Lugar seguro y cómodo</h4>
          </div>
          <!--Asistencia permanente -->
          <div class="flex">
            <div class="w-8 m-3">
              <img src="/clock.png" class="" />
            </div>
            <h4 class="my-auto font-bold">Asistencia permanente</h4>
          </div>
           <!--Asistencia permanente -->
           <div class="flex">
            <div class="w-8 m-3">
              <img src="/thumbs.png" class="" />
            </div>
            <h4 class="my-auto font-bold">Mejor experiencia</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- imagenes-->
    <div class="w-full items-center justify-center p-5 flex">
      <div>
        <div class="m-3">
          <img
            src="/intro1.jpg"
            class="w-96 rounded-xl shadow-md shadow-black"
          />
        </div>
        <div class="m-3">
          <img
            src="/intro2.jpg"
            class="w-96 rounded-xl shadow-md shadow-black"
          />
        </div>
      </div>
      <div class="m-3 my-auto">
        <img src="/intro3.jpg" class="w-96 rounded-xl shadow-md shadow-black" />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background: url(/fondo1.jpg) center bottom / cover no-repeat;
  }


</style>
